* {
    background: #222;
    color: #999;
}

.area {
    width: 400px;
    height: 400px;
    background: #333;
    margin: 15px;
    position: relative;
}

.snake {
    width: 40px;
    height: 40px;
    background: rgba(255, 165, 0, 0.9);
    /* left: 40px; */
    position: absolute;
}

.tail {
    background: green;
}

.food {
    width: 40px;
    height: 40px; 
    position: absolute;
    background: lawngreen;
}