
<div style="text-align:center">

  <div class="panel">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <button (click)="reset()">Reset</button>
  </div>


  <!-- <img src="assets/img/map.png" alt=""> -->

  <div class="game">

    <div class="game-map">

      <!-- Map -->
      <div class="map-row" *ngFor="let row of game_map">
        <div class="map-block b-{{block}}" *ngFor="let block of row">
          {{block}}
        </div>
      </div>

    </div>

    <div 
      class="char" 
      [style.left]="char.x*70+'px'" 
      [style.top]="char.y*70+'px'">
    </div>

  </div>


  <!-- <div class="map-block ground"></div>
  <div class="map-block ground-gress"></div> -->
</div>